$fontHeading: "Permanent Marker", cursive;
$fontitalic: italic;
$white: white;
$black: black;
$blue: #4b7cfc;
$blueLighter: #80a2f8;
$grey: #373334;
$Cleargrey: #a5a4a4;
$colorBackground: linear-gradient(
  90deg,
  rgba(109, 80, 146, 1) 18%,
  rgba(202, 86, 99, 1) 67%
);
